@import '../mixin/typography.scss';

.modal {
    position: absolute;
    inset: 40px;
    border: 1px solid rgb(204, 204, 204);
    background: rgb(255, 255, 255);
    border-radius: 4px;
    outline: none;
    padding: 20px;
    margin: auto;
}

.title {
    @include H2-2Mixin;
}

.close {
    cursor: pointer;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 12px;
    // position: sticky;
    // top: 0px;
    // background: white;
}