$white: rgba(255, 254, 253, 1);

$blue1: #003366;
$blue2: #2E5780;
$blue3: #5B7A98;
$blue4: #899DB2;
$blue5: #B6C0CA;

$black1: #1E1E1E;
$black2: #464646;
$black3: #6D6D6D;
$black4: #959595;
$black5: #BCBCBC;

$red0: #F40000;
$red1: #FF3333;
$red2: #FA5757;
$red3: #F47A7A;
$red4: #EF9D9D;
$red5: #E9C0C0;


$grey1: #CCCCCC;
$grey2: #D1D1D1;
$grey3: #D5D5D5;
$grey4: #DBDBDB;
$grey5: #DFDFDF;
$grey6: #EEECEC;

$green: #007A1B;

$brown: #363030;
